  footer {
    padding-bottom: 16px;
}

.title {
    font-size: 64px;
    font-weight: 700;
}

.footerCards {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 2fr;
    gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #F1F3F4;
    padding: 32px 0px 32px 32px;
    border-radius: 16px;
    box-sizing: border-box; 
    height: 100%;
}

.footerTitle {
    font-size: 20px;
    font-weight: 500;
    color: #8B8B8B;
    margin-bottom: 16px;
}

.footerContent {
    font-size: 40px;
    font-weight: 600;
    color: #282828;
}

.socials {
    display: flex;
    flex-direction: row;
}

.phone {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.adress {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.socCard {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.work {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.mapContainer {
    width: 100%; /* Устанавливаем ширину в 100% */
    margin-top: 32px;
    border-radius: 12px;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 350px;
    border: none;
}

@media (max-width: 768px) {
    .footerCards {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .footerContent {
        font-size: 25px;
        
    }

    .card {
        text-wrap: wrap;
        padding-right: 32px;
    }

    
}

@media (max-width: 576px) {
    .footerContent {
        font-size: 20px;
    }
}